<div>
    <div class="card card-header">
        <div class="card-content">
            <div class="card-title" style="color:#727272">
                <i class="fa fa-product-hunt" style="padding-right:10px; color:#0094ff; font-size:30px;"></i>
                Manage Products
                <a title="Add new product" class="btn btn-floating btn-large waves-effect waves-light" style="float:right; background:#1976D2;">
                    <i class="material-icons">
                        <i class="fa fa-plus secondary-text-color"></i>
                    </i>
                </a>
            </div>
        </div>
    </div>


    <div class="product-main">
        <div class="product-main-sub">
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                <md-input-container class="md-block" flex-gt-xs>
                    <label><i class="fa fa-product-hunt" style="padding-right:10px; color:#0094ff; font-size:20px;"></i>Product name</label>
                    <input ng-model="user.title">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label><i class="fa fa-object-ungroup" style="padding-right:10px; color:#0094ff; font-size:20px;"></i>Category</label>

                    <md-select ng-model="user.state">
                        <!--<md-option ng-repeat="state in states" value="{{state.abbrev}}">
                            {{state.abbrev}}
                        </md-option>-->
                        <md-option value="1">
                            Shoes
                        </md-option>
                        <md-option value="2">
                            Bags
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <md-button class="md-raised md-primary"> <i class="fa fa-search"></i> </md-button>
                </md-input-container>
            </md-content>
        </div>
        <div class="product-listing">
            <table class="highlight centered">
                <thead>
                    <tr>
                        <th data-field="id">Title</th>
                        <th data-field="name">variants</th>
                        <th data-field="stock">Stock</th>
                        <th data-field="price">Price</th>
                        <th data-field="action">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Oxford Shoe</td>
                        <td>2</td>
                        <td>23</td>
                        <td>N24,678</td>
                        <td>
                            <a title="sell this product" class="btn btn-floating  waves-effect waves-light" style=" background:#ff6a00;">
                                <i class="material-icons">
                                    <i class="fa fa-cart-plus "></i>
                                </i>
                            </a>
                            <a title="edit this product" class="btn btn-floating  waves-effect waves-light" style="background:#ff6a00;">
                                <i class="material-icons">
                                    <i class="fa fa-edit"></i>
                                </i>
                            </a>
                            <a title="delete this product" class="btn btn-floating  waves-effect waves-light" style="background:#ff0000">
                                <i class="material-icons">
                                    <i class="fa fa-remove"></i>
                                </i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Oxford Shoe</td>
                        <td>2</td>
                        <td>23</td>
                        <td>N24,678</td>
                        <td>
                            <a title="sell this product" class="btn btn-floating  waves-effect waves-light" style=" background:#ff6a00;">
                                <i class="material-icons">
                                    <i class="fa fa-cart-plus "></i>
                                </i>
                            </a>
                            <a title="edit this product" class="btn btn-floating  waves-effect waves-light" style="background:#ff6a00;">
                                <i class="material-icons">
                                    <i class="fa fa-edit"></i>
                                </i>
                            </a>
                            <a title="remove this product" class="btn btn-floating  waves-effect waves-light" style="background:#ff0000">
                                <i class="material-icons">
                                    <i class="fa fa-remove"></i>
                                </i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Oxford Shoe</td>
                        <td>2</td>
                        <td>23</td>
                        <td>N24,678</td>
                        <td>
                            <a title="sell this product" class="btn btn-floating  waves-effect waves-light" style=" background:#ff6a00;">
                                <i class="material-icons">
                                    <i class="fa fa-cart-plus "></i>
                                </i>
                            </a>
                            <a title="edit this product" class="btn btn-floating  waves-effect waves-light" style="background:#ff6a00;">
                                <i class="material-icons">
                                    <i class="fa fa-edit"></i>
                                </i>
                            </a>
                            <a title="remove this product" class="btn btn-floating  waves-effect waves-light" style="background:#ff0000">
                                <i class="material-icons">
                                    <i class="fa fa-remove"></i>
                                </i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>