<md-content style="width:75%; margin-left:auto; margin-right:auto;" ng-controller="ViewStockController">
    <md-subheader style="border-bottom:3px solid #9c27b0;">
        <span class="md-headline">
            <i class="fa fa-shopping-basket" style="margin-right:20px;"></i>{{titleList}}
            <md-progress-circular style="margin-top:-2em; margin-left:12em;" ng-show="isBusy" md-mode="indeterminate"></md-progress-circular>
        </span>

        <button ui-sref="dashboard" class="btn waves-effect waves-light btn-floating" style="background:#9c27b0; float:right;">
            x
            <md-tooltip md-direction="right">
                Close and return to dashboard
            </md-tooltip>
        </button>

        <button ng-show="hasList" ng-click="showStockItems()" style="float:right; margin-right:1em; background:#9c27b0; font-size:10pt;" class="btn btn-sm waves-effect view-list">
            view list
            <md-tooltip md-direction="left">
                <span>
                    <i class="fa fa-check"></i>  View list of stock items
                </span>
            </md-tooltip>
        </button>



    </md-subheader>

    <!--UI To list stock-->
    <div style="padding:20px; background:white;">

        <md-list class="stock-list">
            <span style="display:block; padding-bottom:2em; color:#9c27b0">
                <button ui-sref="CreateStock" style="background:#9c27b0; font-size:9pt;" class="btn waves-effect">+ create stock with items!</button>
                <b style="margin-left:2em;"><i class="fa fa-check"></i>&nbsp;Total Stock Created: </b><i style="color:#9c27b0; font-weight:bold;">{{stock.length}}</i>
            </span>
            <md-list-item ng-repeat="obj in stock " style="margin-bottom:1.5em;">
                <md-button class="stocklist-button waves-effect waves-light" ui-sref="viewStockbyId({stockId: obj.stockId})">
                    <p style="line-height:20pt;">
                        <span style="font-size:16pt; display:block; text-transform:none; ">
                            {{ obj.stockTitle }}
                        </span>
                        <span style="font-size:10pt; text-transform:none;">
                            <i class="fa fa-shopping-bag"></i>&nbsp; No of Items: <b style="color:#9c27b0">{{obj.items.length}}</b><br />
                            <i class="fa fa-calendar"></i>&nbsp;Date Created : <i>{{formateDate(obj.dateCreated)}}</i>
                        </span>
                    </p>
                </md-button>
            </md-list-item>
        </md-list>

    </div>


</md-content>
