<link href="Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <div class="signupwidth">
        <div class="row">

            <div class="text-center">
                <label for="lastname" class="control-label text-muted">
                    <span style="color: #387db8">
                        <h5 class="text-uppercase">Please Signup</h5>
                    </span>
                </label>
            </div>

            <div class="text-center col-md-6">
                <input type="text" class="form-control inputBorder" ng-model="UserModel.UserName" placeholder="UserName" />
            </div>

            <div class="text-center col-md-6">
                <input type="password" class="form-control inputBorder" ng-model="UserModel.Password" placeholder="Password" />
            </div>

            <div class="text-center col-md-6">
                <input type="text" class="form-control inputBorder" ng-model="UserModel.Name" placeholder="Name" />
            </div>

            <div class="text-center col-md-6">
                <input type="text" class="form-control inputBorder" ng-model="UserModel.Position" placeholder="Position" />
            </div>

            <div class="text-center col-md-6">
                <input type="text" class="form-control inputBorder" ng-model="UserModel.StreetAddress" placeholder="StreetAddress" />
            </div>

            <div class="text-center col-md-6">
                <input type="text" class="form-control inputBorder" ng-model="UserModel.City" placeholder="City" />
            </div>

            <div class="text-center col-md-6">
                <input type="text" class="form-control inputBorder" ng-model="UserModel.Country" placeholder="Country" />
            </div>

            <div class="text-center col-md-6">
                <input type="text" class="form-control inputBorder" ng-model="UserModel.Phone" placeholder="Phone" />
            </div>

            <div class="text-center col-md-6">
                <input type="text" class="form-control inputBorder" ng-model="UserModel.Fax" placeholder="Fax" />
            </div>

            <div class="text-center col-md-6">
                <input type="text" class="form-control inputBorder" ng-model="UserModel.RetailURL" placeholder="RetailURL" />
            </div>

            <div class="text-center col-md-6">
                <input type="text" class="form-control inputBorder" ng-model="UserModel.EmailAddress" placeholder="EmailAddress" />
            </div>

            <div class="text-center col-md-6">
                <input type="text" class="form-control inputBorder" ng-model="UserModel.StoreName" placeholder="StoreName" />
            </div>

        </div>
        <div class="row">
            <div class="text-center col-md-12">
                <input type="button" class="btn btn-defualt cuser" ng-click="CreateUser()" value="SignUp" />
            </div>
        </div>

    </div>
</div>

