<link href="Content/bootstrap.min.css" rel="stylesheet" />
<!--<div class="container">
    <div class="signupwidth">
        <div class="row">

            <div class="text-center">
                <label for="lastname" class="control-label text-muted">
                    <span style="color: #387db8">
                        <h5 class="text-uppercase">Please Signup</h5>
                    </span>
                </label>
            </div>
            <form id="SignUpForm">
                <div class="text-center col-md-6">
                    <input type="text" class="form-control inputBorder validate[required] text-input" ng-model="UserModel.UserName" placeholder="UserName" />
                </div>

                <div class="text-center col-md-6">
                    <input type="password" class="form-control inputBorder validate[required] text-input" ng-model="UserModel.Password" placeholder="Password" />
                </div>

                <div class="text-center col-md-6">
                    <input type="text" class="form-control inputBorder validate[required] text-input" ng-model="UserModel.Name" placeholder="Name" />
                </div>

                <div class="text-center col-md-6">
                    <input type="text" class="form-control inputBorder validate[required] text-input" ng-model="UserModel.Position" placeholder="Position" />
                </div>

                <div class="text-center col-md-6">
                    <input type="text" class="form-control inputBorder validate[required] text-input" ng-model="UserModel.StreetAddress" placeholder="StreetAddress" />
                </div>

                <div class="text-center col-md-6">
                    <input type="text" class="form-control inputBorder validate[required] text-input" ng-model="UserModel.City" placeholder="City" />
                </div>

                <div class="text-center col-md-6">
                    <input type="text" class="form-control inputBorder validate[required] text-input" ng-model="UserModel.Country" placeholder="Country" />
                </div>

                <div class="text-center col-md-6">
                    <input type="text" class="form-control inputBorder validate[required] text-input" ng-model="UserModel.Phone" placeholder="Phone" />
                </div>

                <div class="text-center col-md-6">
                    <input type="text" class="form-control inputBorder validate[required] text-input" ng-model="UserModel.Fax" placeholder="Fax" />
                </div>

                <div class="text-center col-md-6">
                    <input type="text" class="form-control inputBorder validate[required] text-input" ng-model="UserModel.RetailURL" placeholder="RetailURL" />
                </div>

                <div class="text-center col-md-6">
                    <input type="text" class="form-control inputBorder validate[required] text-input" ng-model="UserModel.EmailAddress" placeholder="EmailAddress" />
                </div>

                <div class="text-center col-md-6">
                    <input type="text" class="form-control inputBorder validate[required] text-input" ng-model="UserModel.StoreName" placeholder="StoreName" />
                </div>
            </form>

        </div>
        <div class="row">
            <div class="text-center col-md-12">
                <input type="button" class="btn btn-defualt cuser" ng-click="CreateUser()" value="SignUp" />
                    <input type="button" class="btn btn-defualt" ng-click="Cancel()" value="Cancel" />
            </div>
        </div>

    </div>
</div>-->
<!--<script type="text/javascript">
    jQuery(document).ready(function () {
        // binds form submission and fields to the validation engine
        // binds form submission and fields to the validation engine
        $("form").validationEngine();
    });
</script>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">-->

<style type="text/css">
    /*html,*/
    /*body {
    height: 100%;

}*/
    /*html {
    display: table;
    margin: auto;
    height:60%;
}*/
    /*body {
    display: table-cell;
    vertical-align: middle;
}*/
    /*.margin {
  margin: 0 !important;
}*/
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
<div class="col s12 z-depth-6 card-panel col-md-8" style="margin-left: 208px!important;">
    <form class="login-form" id="signUpId">
        <div class="row">
            <div class="input-field col s12 center">
                <span>
                    <h4 class="text-uppercase">Please Signup</h4>
                </span>
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s6">
                <i class="mdi-social-person-outline prefix"></i>
                <input id="username" type="text" class="validate" ng-model="UserModel.FirstName">
                <label for="username" class="center-align">First Name</label>
            </div>
            <div class="input-field col s6">
                <i class="mdi-social-person-outline prefix"></i>
                <input id="Text1" type="text" class="validate" ng-model="UserModel.LastName">
                <label for="username" class="center-align">Last Name</label>
            </div>
        </div>
        <div class="row margin">

            <div class="input-field col s6">
                <i class="mdi-action-lock-outline prefix"></i>
                <input id="password" type="password" class="validate" ng-model="UserModel.Password">
                <label for="password" class="">Password</label>
            </div>
            <div class="input-field col s6">
                <i class="mdi-action-lock-outline prefix"></i>
                   <input type="password" class="validate" ng-model="UserModel.ConfirmPassword" required>
               <!-- <input id="password-again" type="password" name="ConfirmPassword"
                    ng-blur="Comparepassword()"
                    ng-keyup="ComparepasswordChanged()"
                    ng-model="UserModel.ConfirmPassword"
                    class="validate" />
                <div ng-show="ComparepasswordStatus" style="color: red;">
                    <span>password does not match</span>
                </div>-->
                <label for="password-again" class="">Confirm Password</label>
            </div>


        </div>
        <div class="row margin">
            <div class="input-field col s6">
                <i class="mdi-communication-email prefix"></i>
                <input id="email" type="email" class="validate" ng-model="UserModel.Email">
                <label for="email" class="center-align">Email</label>
            </div>
            <div class="input-field col s6">
                <i class="mdi-action-home prefix"></i>
                <input id="Text3" type="text" class="validate" ng-model="UserModel.Address">
                <label for="username" class="center-align">Address</label>
            </div>
        </div>
        <div class="row margin">
            <div class="input-field col s6">
                <i class="mdi-maps-place prefix"></i>
                <input id="phone" type="text" class="validate" ng-model="UserModel.Country">
                <label for="phone" class="">Country</label>
            </div>
            <div class="input-field col s6">
                <i class="mdi-communication-call prefix"></i>
                <input id="Text4" type="text"
                                    name="UserModel.Phone"
                                    ng-model="UserModel.Phone"
                                    mask='(999) 999-9999'
                                    class="form-control input-us-phone ">
                <label for="username" class=" validate center-align">Phone</label>
            </div>
          </div>
         <div class="row margin">
            <div class="input-field col s6">
                <i class="mdi-hardware-mouse prefix"></i>
                <input id="Text5" type="text" class="validate" ng-model="UserModel.RetailURL">
                <label for="username" class="center-align">Url</label>
            </div>
                
          
            <div class="input-field col s6">
                <i class="mdi-social-person-outline prefix"></i>
                <input id="Text2" type="text" class="validate" ng-model="UserModel.StoreName">
                <label for="username" class="center-align">Store Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <!--<a href="register.html" class="btn waves-effect waves-light col s12">Register Now</a>-->
                <input type="button" class="btn waves-effect waves-light col s12" ng-click="CreateUser()" value="Register Now" />
            </div>
            <div class="input-field col s12">
                <p class="margin center medium-small sign-up">Already have an account? <a href="#/login">Login</a></p>
                <!--<input type="button" class="btn btn-defualt" ng-click="Cancel()" value="Cancel" />-->
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        // binds form submission and fields to the validation engine
        // binds form submission and fields to the validation engine
        $("form").validationEngine();
    });
</script>
