<div class="container">
    <div class="row">
        <div class="text-center">
            <label for="lastname" class="control-label text-muted"><span style="color: #387db8">
                <h5 class="text-uppercase">Please Signup</h5>
            </span></label>
        </div>

        <div class="text-center col-md-6">
            <input type="text" class="form-control inputBorder" ng-model="UserModel.Account" id="Text1" placeholder="UserName" />
        </div>
       
        <div class="text-center col-md-6">
            <input type="password" class="form-control inputBorder" ng-model="UserModel.Password" id="Text11" placeholder="Password" />
        </div>
       
        <div class="text-center col-md-6">
            <input type="text" class="form-control inputBorder" ng-model="UserModel.Name" id="Text4" placeholder="Name" />
        </div>
       
        <div class="text-center col-md-6">
            <input type="text" class="form-control inputBorder" ng-model="UserModel.Position" id="Text3" placeholder="Position" />
        </div>
       
        <div class="text-center col-md-6">
            <input type="text" class="form-control inputBorder" ng-model="UserModel.StreetAddress" id="Text2" placeholder="StreetAddress" />
        </div>
       
        <div class="text-center col-md-6">
            <input type="text" class="form-control inputBorder" ng-model="UserModel.City" id="Text5" placeholder="City" />
        </div>
       
        <div class="text-center col-md-6">
            <input type="text" class="form-control inputBorder" ng-model="UserModel.Country" id="Text6" placeholder="Country" />
        </div>
       
        <div class="text-center col-md-6">
            <input type="text" class="form-control inputBorder" ng-model="UserModel.Phone" id="Text7" placeholder="Phone" />
        </div>
       
        <div class="text-center col-md-6">
            <input type="text" class="form-control inputBorder" ng-model="UserModel.Fax" id="Text8" placeholder="Fax" />
        </div>
       
        <div class="text-center col-md-6">
            <input type="text" class="form-control inputBorder" ng-model="UserModel.RetailURL" id="Text9" placeholder="RetailURL" />
        </div>
       
        <div class="text-center col-md-6">
            <input type="text" class="form-control inputBorder" ng-model="UserModel.EmailAddress" id="Text10" placeholder="EmailAddress" />
        </div>
        
    </div>
    <div class="row">
    <div class="text-center col-md-12"">
            <input type="button" class="btn btn-defualt cuser" ng-click="CreateUser()" value="SignUp" />
     </div>
        </div>
</div>
