<!--<md-content style="width:75%; margin-left:auto; margin-right:auto;" ng-controller="ManageStockController">
    <md-subheader style="border-bottom:3px solid #9c27b0;">
        <span class="md-headline">
            <i class="fa fa-shopping-basket" style="margin-right:20px;"></i>{{step}}
        </span>

        <button onclick="window.history.back();" class="btn waves-effect waves-light btn-floating" style="background:#9c27b0; float:right;">
            x
            <md-tooltip md-direction="right">
                Close and return to dashboard
            </md-tooltip>
        </button>      
     
        
        
    </md-subheader>

    <!--UI To create stock-->
    <!--<form ng-submit="createStock()" id="create-stock" style="background:white; padding:30px; justify-content:center; padding-bottom:50px;">
        <div layout-gt-xs="row">
            <md-input-container flex-gt-xs>
                <label><i class="fa fa-shopping-basket"></i>&nbsp;&nbsp;Stock Description e.g <i>Deccember 2, 2015 stock</i></label>
                <input required ng-model="stock.title">
            </md-input-container>


        </div>
  
        <div>
            <span style="float:right; display:block;">
                <a href="#/create"><button class="btn btn-primary"> + create new stock  </button></a>
                <md-progress-circular ng-show="isBusy" md-mode="indeterminate"></md-progress-circular>
            </span>
        </div>
    </form>

</md-content>-->
<div ng-controller="ManageStockController">
    <div class="card card-header">
        <div class="card-content">
            <div class="card-title" style="color:#727272">
                <!--<i class="fa fa-product-hunt" style="padding-right:10px; color:#0094ff; font-size:30px;"></i>-->
                Stocks
               <span style="float:right; display:block;">
                <a href="#/create"><button class="btn btn-primary"> + create new stock  </button></a>
                <md-progress-circular ng-show="isBusy" md-mode="indeterminate"></md-progress-circular>
            </span>                
            </div>
        </div>
    </div>

    <div class="product-main">    
        <md-content >
            <div class="product-main-sub">
                <md-content layout-gt-sm="row" layout-padding>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label><i class="fa fa-shopping-basket" style="padding-right:10px; color:#0094ff; font-size:20px;"></i>Find Stock</label>
                        <input ng-model="user.title">
                    </md-input-container>                    
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-button class="md-fab md-mini md-primary"> <i class="fa fa-search"></i> </md-button>
                    </md-input-container>
                </md-content>
            </div>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Stocks List">
                    <md-content class="product-listing">
                        <table class="highlight centered">
                            <thead>
                                <tr>
                                    <th data-field="id">StockName</th>
                                    <th data-field="id">Title</th>
                                    <th data-field="name">Description</th>
                                    <th data-field="stock">MaxQuantity</th>
                                    <th data-field="price">AvailabilityDate</th>
                                    <!--<th data-field="action">CreatedTime</th>
                                     <th data-field="action">LastUpdateTime</th>-->
                                     <th data-field="action">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>New Stock</td>
                                    <td>abc</td>
                                    <td>abc</td>
                                    <td>12</td>
                                    <td>2016-05-25 18:30:00.000</td>
                                   <!-- <td>2016-05-25 18:30:00.000</td>
                                    <td>2016-05-25 18:30:00.000</td>-->
                                    <td>
                                        <a title="sell this product" class="btn btn-floating  waves-effect waves-light" style=" background:#808080;">
                                            <i style="font-size:10pt;" class="fa fa-shopping-basket "></i>
                                        </a>
                                        <a title="edit this product" class="btn btn-floating  waves-effect waves-light" style="background:#808080;">

                                            <i style="font-size:11pt;" class="fa fa-edit"></i>

                                        </a>
                                        <a title="delete this product" class="btn btn-floating  waves-effect waves-light" style="background:#808080">

                                            <i style="font-size:11pt;" class="fa fa-trash"></i>

                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                  <td>New Stock1</td>
                                    <td>abc</td>
                                    <td>abc</td>
                                    <td>12</td>
                                    <td>2016-05-25 18:30:00.000</td>
                                    <!--<td>2016-05-25 18:30:00.000</td>
                                    <td>2016-05-25 18:30:00.000</td>-->
                                    <td>
                                        <a title="sell this product" class="btn btn-floating  waves-effect waves-light" style=" background:#808080;">
                                            <i style="font-size:10pt;" class="fa fa-shopping-basket "></i>
                                        </a>
                                        <a title="edit this product" class="btn btn-floating  waves-effect waves-light" style="background:#808080;">

                                            <i style="font-size:11pt;" class="fa fa-edit"></i>

                                        </a>
                                        <a title="delete this product" class="btn btn-floating  waves-effect waves-light" style="background:#808080">

                                            <i style="font-size:11pt;" class="fa fa-trash"></i>

                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                  <td>Stock</td>
                                    <td>abc</td>
                                    <td>abc</td>
                                    <td>12</td>
                                    <td>2016-05-25 18:30:00.000</td>
                              <!--      <td>2016-05-25 18:30:00.000</td>
                                    <td>2016-05-25 18:30:00.000</td>-->
                                    <td>
                                        <a title="sell this product" class="btn btn-floating  waves-effect waves-light" style=" background:#808080;">
                                            <i style="font-size:10pt;" class="fa fa-shopping-basket "></i>
                                        </a>
                                        <a title="edit this product" class="btn btn-floating  waves-effect waves-light" style="background:#808080;">

                                            <i style="font-size:11pt;" class="fa fa-edit"></i>

                                        </a>
                                        <a title="delete this product" class="btn btn-floating  waves-effect waves-light" style="background:#808080">

                                            <i style="font-size:11pt;" class="fa fa-trash"></i>

                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-content>
                </md-tab>              
            </md-tabs>
        </md-content>
    </div>


</div>


